nav {
  margin-bottom: 20px;
  border-bottom: 2px solid black;

  a {
    display: inline-block;
    color: black;
    background-color: white;
    padding: 5px 10px;
    text-decoration: none;

    &.active {
      color: white;
      background-color: black;
    }
  }
}
